flows_nbit2.json
[{"id":"dc12f46f.082aa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a7a395fb.ac577","type":"tab","label":"Generic BLE Example","disabled":false,"info":"This flow shows BLE Read/Write example.\n"},{"id":"5c0f4f5a.64fe8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"2ea92d87.84e36a","type":"ui_group","z":"","name":"Default","tab":"5c0f4f5a.64fe8","disp":true,"width":"6","collapse":false},{"id":"8cd04a0e.690558","type":"inject","z":"dc12f46f.082aa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":160,"wires":[["69c7d627.2de42","27fea7b2.c789b8"]]},{"id":"69c7d627.2de42","type":"debug","z":"dc12f46f.082aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":160,"wires":[]},{"id":"4f6c2a05.fdd244","type":"ui_text","z":"dc12f46f.082aa","group":"2ea92d87.84e36a","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":260,"wires":[]},{"id":"27fea7b2.c789b8","type":"change","z":"dc12f46f.082aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":240,"wires":[["4f6c2a05.fdd244"]]}]