flows_nbit2.json
[{"id":"dc12f46f.082aa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a7a395fb.ac577","type":"tab","label":"Generic BLE Example","disabled":false,"info":"This flow shows BLE Read/Write example.\n"},{"id":"aaa19855.c0195","type":"Generic BLE","z":"","localName":"CC2650 SensorTag","address":"88:99:00:00:ff:ff","uuid":"666e850ba45c4952b8bed27a8133ecb2","muteNotifyEvents":true,"operationTimeout":"5000","characteristics":[{"uuid":"2a23","name":"System ID","type":"org.bluetooth.characteristic.system_id","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a24","name":"Model Number String","type":"org.bluetooth.characteristic.model_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a25","name":"Serial Number String","type":"org.bluetooth.characteristic.serial_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a26","name":"Firmware Revision String","type":"org.bluetooth.characteristic.firmware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a27","name":"Hardware Revision String","type":"org.bluetooth.characteristic.hardware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a28","name":"Software Revision String","type":"org.bluetooth.characteristic.software_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a2a","name":"IEEE 11073-20601 Regulatory Certification Data List","type":"org.bluetooth.characteristic.ieee_11073-20601_regulatory_certification_data_list","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a50","name":"PnP ID","type":"org.bluetooth.characteristic.pnp_id","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a19","name":"Battery Level","type":"org.bluetooth.characteristic.battery_level","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa0104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa0204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa0304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa2104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa2204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa2304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa4104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa4204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa4404514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa8104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa8204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa8304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa7104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa7204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa7304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"ffe1","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa6504514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa6604514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000ac0104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000ac0204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000ac0304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000ccc104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000ccc204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"f000ccc304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"f000ffc104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":true},{"uuid":"f000ffc204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":true},{"uuid":"f000ffc304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":true},{"uuid":"f000ffc404514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false}]},{"id":"8cd04a0e.690558","type":"inject","z":"dc12f46f.082aa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":160,"wires":[["69c7d627.2de42"]]},{"id":"69c7d627.2de42","type":"debug","z":"dc12f46f.082aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":160,"wires":[]},{"id":"6f766528.d5729c","type":"Generic BLE out","z":"dc12f46f.082aa","name":"","x":360,"y":360,"wires":[]},{"id":"2b433e0.79e2ec2","type":"Generic BLE in","z":"a7a395fb.ac577","name":"","genericBle":"aaa19855.c0195","useString":false,"notification":true,"x":450,"y":320,"wires":[["f1a788cc.e629"]]},{"id":"487a983.19d4ce8","type":"inject","z":"a7a395fb.ac577","name":"Get Battery Level","topic":"2a19","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":220,"wires":[["2b433e0.79e2ec2"]]},{"id":"f1a788cc.e629","type":"debug","z":"a7a395fb.ac577","name":"","active":true,"console":"false","complete":"false","x":690,"y":320,"wires":[]},{"id":"2d73ac8e.b6438c","type":"Generic BLE out","z":"a7a395fb.ac577","name":"","genericBle":"aaa19855.c0195","x":450,"y":400,"wires":[]},{"id":"7fa9e004.43ff8","type":"inject","z":"a7a395fb.ac577","name":"Write Transient Data","topic":"","payload":"{\"f000aa0204514000b000000000000000\":\"ca\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":210,"y":460,"wires":[["2d73ac8e.b6438c"]]},{"id":"fcd5590.80bef28","type":"inject","z":"a7a395fb.ac577","name":"Get All Readable Attributes","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":230,"y":140,"wires":[["2b433e0.79e2ec2"]]},{"id":"914358f2.21f07","type":"inject","z":"a7a395fb.ac577","name":"Poll Notify Events","topic":"2a19","payload":"{\"notify\":true,\"period\":5000}","payloadType":"json","repeat":"","crontab":"","once":false,"x":200,"y":300,"wires":[["2b433e0.79e2ec2"]]},{"id":"b9e00b1d.f21858","type":"inject","z":"a7a395fb.ac577","name":"Read Trransient Data","topic":"f000aa0204514000b000000000000000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":360,"wires":[["2b433e0.79e2ec2"]]}]